html, body {
  height: 100%;
}
#google-map-view {
  height: 70%;
}

#container {
  height: 50%;
}

.circleMarker {
  stroke: black;
  stroke-width: 1.5px;
}

.pathMarker {
  stroke-width: 1.5px;
  fill-opacity: 0.2;
}